@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mxns;
// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------
#form-container {
  position: relative;
  width: 100%;
  #register-form {
    position: relative;
    z-index: 1;
    h3 {
    }
    .formEl {
      margin-bottom: 1rem;
      position: relative;
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="number"],
      select {
      }
      .phoneFP {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        #phoneprefix,
        #phonenumber {
        }
        #phoneprefix {
          border-bottom-right-radius: 0;
          border-right: 1px solid gray;
          border-top-right-radius: 0;

          max-width: 105px;
          padding-left: 30px;
        }
        #phonenumber {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
      button[type="submit"] {
        display: block;
        width: 100%;
        &:hover {
        }
      }
      .country_flag {
        left: 18px;
        position: absolute;
        top: 18px;
      }
    }
    svg {
      display: none;
      position: absolute;
      right: 20px;
      top: 16px;
      &.fa-times {
        color: red;
      }
      &.fa-check {
        color: green;
      }
    }
  }
}
