@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mxns;
// -----------------------------------------------------------------------------
// This file contains all styles related to the ifIE component.
// -----------------------------------------------------------------------------

#ifIE {
  align-items: center;
  background-color: #339;
  background-color: var(--clr-brandPrimaryColor);
  display: flex;
  height: 100vh;
  justify-content: center;
  p.notIE {
    background-color: #f90;
    background-color: var(--clr-brandSecondaryColor);
    border-radius: 0.3rem;
    color: #339;
    margin: 0;
    max-width: 50ch;
    padding: 1rem;
    text-align: center;
    a {
      color: #663d00;
      color: var(--clr-brandPrimaryColor-900);
    }
  }
}
