@use "../abstracts/variables" as vars;

// -----------------------------------------------------------------------------
/* This file contains all styles related to the accordion component. */
// -----------------------------------------------------------------------------

.scssecoAccordion {
  .accItem {
    background-color: aqua;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    .accTitle {
    }
    .accContent {
      max-height: 0;
      overflow: hidden;
      transition: max-height 650ms;
    }
  }
}
